.box1{
    color: red;
    background-color: aqua;
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px 15px green;
}
.box2{
    margin: 30px;
    color: red;
    background-color: aqua;
    width: 200px;
    height: 200px;
    box-shadow: -10px -10px 15px green;
}