.box{
    height: 100px;
    width: 200px;
    color: red;
    border: 4px solid black;

    margin: 10px;
}

#one{
    background-color: orange;
    margin-left: 345px;
}

#two{
    background-color: rgb(255, 255, 255);
    margin-top: 345px;
}

#three{
    background-color: green;
    margin-bottom: 345px;
}